html {
    height: 100%;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: beige;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex-grow: 1;
}

h1 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.diff-area {
}

.diff-title {
    width: 70%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    background-color: purple;
    color: antiquewhite;
    font-weight: bold;
}

.diff-options {
    width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    font-size: x-small;
}

.diff {
    width: auto;
    min-width: 100px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498db;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.diff:hover {
    background-color: #367299;
}

.game-area {
    border: 3px solid black;
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
    background-color: rgb(188, 188, 172);
}

.timer-area {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.timer {
    width: 250px;
    height: 30px;
    line-height: 30px;
    /* margin: 20 auto; */
    text-align: center;
}

.board-container {
    margin: auto;
}

.cell {
    position: relative;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10%;
    cursor: pointer;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 1);
    background-color: rgb(103, 102, 102);
    user-select: none;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(103, 102, 102);
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 1);
}

.cell.revealed {
    background-color: rgb(160, 157, 157);
}

.cell.revealed .cover {
    display: none;
}

/* Content layer: initially hidden */
.content {
    display: none;
}

.revealed {
    background-color: rgb(160, 157, 157);
}

.reset-area {
    display: inline-block;
    padding: 5px 5px;
    margin: 20px auto;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
}

.reset-title {
    display: block;
    background-color: yellow;
    color: red;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
}

.reset-button {
    background-color: rgb(68, 1, 68);
    color: pink;
    cursor: pointer;
    padding: 20px;
    border-radius: 5%;
}

.reset-button:hover {
    background-color: rgba(128, 0, 128, 0.8);
}

.victory-area {
    display: inline-block;
    padding: 5px 5px;
    margin: 5px auto;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
}

.victory-title {
    display: block;
    background-color: #3498db;
    color: white;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
}

.victory-button {
    background-color: rgb(68, 1, 68);
    color: pink;
    cursor: pointer;
    padding: 20px;
    border-radius: 5%;
}

.victory-button:hover {
    background-color: rgba(128, 0, 128, 0.8);
}

.hints-area {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
}


.hint {
    width: 2em;
    height: 2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10%;
    font-weight: bold;
    color: #000;
    background-color: rgba(251, 238, 46, 0.5);
    cursor: not-allowed;
    pointer-events: none;
}

.hint.unused {
    background-color: #fbee2e;
    cursor: pointer;
    pointer-events: auto;
    border: 2px solid #f1ce09;
}

/* .hint.unused {
    width: 2em;
    height: 2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e6c200;
    border-radius: 10%;
    cursor: pointer;
    background-color: #fbee2e;
    color: #000;
    font-weight: bold;
}

.hint.used {
    width: 2em;
    height: 2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e6c200;
    border-radius: 10%;
    cursor: pointer;
    background-color: rgba(251, 238, 46, 0.5);
    color: #000;
    font-weight: bold;
}

.hint:hover {
    cursor: pointer;
} */

.lives-left {
    width: 60%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 10px auto;
    background-color: rgb(197, 139, 5);
    color: antiquewhite;
    font-weight: bold;
}

footer {
    margin-top: auto;
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.hidden {
    display: none;
}
